.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 170px !important;
  margin-top: 50px;
}

.css-16cvb1l-MuiCardMedia-root {
  height: 70px !important;
  width: 120px !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.css-1t6c9ts {
  flex: inherit !important;
}

.css-1lvtzne {
  flex-grow: inherit !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  font-size: 17px !important;
  padding: 6px 16px !important;
  font-family: "Gotu", sans-serif !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  top: 10px !important;
  left: auto !important;
  right: 80px !important;
  width: 100px !important;
}

.css-h4y409-MuiList-root {
  display: block !important;
}

.css-h4y409-MuiList-root a {
  color: #fff !important;
  padding: 12px 15px;
}

.css-h4y409-MuiList-root .active {
  color: #83ffb4 !important;
}

@media (min-width: 900px) {
  .css-1083xa6-MuiTypography-root {
    flex: auto !important;
  }

  .css-h4y409-MuiList-root {
    display: flex !important;
  }
}
